<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Gym Webshop</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <nav>
      <ul class="navbar">
        <li class="nav-left"><a href="/">Home</a></li>
        <li class="nav-left"><a href="/projects">Projects</a></li>
        <li class="nav-left"><a href="/about">About</a></li>
        <li class="nav-left"><a href="/contact">Contact</a></li>
        <li class="nav-right"><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{{body}}} <!-- This is where your page content will render -->
  </main>
</body>
</html>
